<!DOCTYPE html>
<html lang="en">
<head>
  <title>Game-Time Stats</title>
  <link rel="stylesheet" href="home.css">
</head>
<body>

  <div class="block" id="first">
    <h1>Team Stats</h1>
    <% @teams.each do |team| %>
    <ul>
     <li><%= team[:name].to_s + ": " + "Wins: " + team[:wins].to_s + "," + " Losses: " + team[:losses].to_s %></li>
   </ul>
   <% end %>
 </div>

 <div class="block" id="second">
  <h1>Winners Board</h1>
  <% @winners.each do |team| %>
  <ul>
   <li><%= team[:name].to_s + ": " + team[:wins].to_s %></li>
 </ul>
 <% end %>
</div>

<div class="block" id="third">
  <h1>Losers Board</h1>
  <% @losers.each do |team| %>
  <ul>
   <li><%= team[:name].to_s + ": " + team[:losses].to_s %></li>
 </ul>
 <% end %>
</div>

</body>
</html>
